:root {
  --color-black: rgba(66, 66, 66, 1);
  --color-text: rgba(0, 102, 145, 1);
  --color-text-darker: rgba(0, 68, 110, 1);
  --color-gold: rgba(179, 154, 24, 1);
  --color-blue: rgba(107, 179, 177, 1);
  --color-light-blue: rgba(188, 220, 219, 1);
  --color-light-grey: rgba(238, 238, 238, 1);
  --color-warm-white: rgba(253, 253, 255, 1);
  --rem-text-gap: 1.25rem;
  --rem-text-gap-tablet: 2.25rem;
  --rem-text-gap-desktop: 2.75rem;
  --rem-section-gap: 2.5rem;
  --rem-section-gap-tablet: 3.5rem;
  --rem-section-gap-desktop: 6rem;
  --rem-padding-left-right: 1.5rem;
  --rem-grid-gap: 2.5rem;
  --rem-grid-tablet: 3.5rem;
  --rem-grid-desktop: 4rem;
}

@font-face {
  font-family: "open-sans";
  src: url(../fonts/open-sans-v35-latin-regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: "ubuntu";
  src: url(../fonts/ubuntu-v20-latin-700.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "bebas";
  src: url(../fonts/bebas-neue-v14-latin-light.woff2);
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: var(--color-black);
  font-family: "open-sans";
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-family: "ubuntu";
  font-weight: 700;
  color: var(--color-gold);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  max-width: 920px;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "bebas";
  color: var(--color-blue);
  letter-spacing: 4px;
  margin: 0;
  font-weight: 700;
  text-align: center;
  max-width: 920px;
}

h3 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin: 0;
  max-width: 920px;
  color: var(--color-text);
}

p {
  margin: 0;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid var(--color-light-grey);
  margin-bottom: var(--rem-section-gap);
}

header img {
  height: 115px;
  margin-left: 8px;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--rem-section-gap);
  background-color: var(--color-warm-white);
}

section {
  padding-left: var(--rem-padding-left-right);
  padding-right: var(--rem-padding-left-right);
  display: flex;
  flex-direction: column;
  gap: var(--rem-text-gap);
  max-width: 920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section ul {
  display: flex;
  flex-direction: column;
  gap: var(--rem-text-gap);
}

section ul.grid {
  display: grid;
  gap: var(--rem-grid-gap);
  grid-template-columns: repeat(1, minmax(0, 1fr));
  text-align: center;
}
section ul.grid.start-with-two {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

footer {
  margin-top: var(--rem-section-gap);
  background-color: var(--color-warm-white);
  border-top: 1px solid var(--color-light-grey);
}

footer ul {
  display: flex;
  justify-content: center;
  gap: var(--rem-text-gap);
  flex-wrap: wrap;
  align-items: center;
}

footer .contact ul {
  gap: var(--rem-section-gap);
}

footer .contact ul li i {
  color: var(--color-gold);
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  display: flex;
  align-items: center;
  color: var(--color-text-darker);
  gap: 0.5rem;
}
footer ul li a:hover h3 {
  color: var(--color-text);
  text-decoration: underline;
}

footer .contact {
  background-color: var(--color-light-grey);
  padding: var(--rem-padding-left-right);
}

footer .footer-skills {
  padding: var(--rem-padding-left-right);
  background-color: var(--color-light-blue);
}

.hero-content-left {
  display: flex;
  flex-direction: column;
  gap: var(--rem-text-gap);
}

.hero-content-left h2 {
  text-align: left;
}

.hero-content-right img {
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 100%;
  border-width: 1px;
  border: solid;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 0.25rem;
  display: block;
  text-align: center;
  background-color: rgb(0 102 145 / 1);
  border-color: rgb(0 102 145 / 1);
  color: rgb(253 253 255 / 1);
}

.btn:hover {
  background-color: rgb(0 68 110 / 1);
  border-color: rgb(0 68 110 / 1);
}

.btn-for-more.mobile-only {
  margin-top: 1rem;
}

.btn-for-more.from-tablet {
  display: none;
}

.when {
  color: var(--color-gold);
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
}

.where {
  font-size: 18px;
}

.projects-when {
  font-size: 14px;
  margin-left: 1rem;
  color: var(--color-black);
}

.meter,
.meter-value {
  height: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--color-light-grey);
}

.meter-value {
  background-color: var(--color-text);
}

.experience-skills {
  font-size: 18px;
  gap: 0;
  padding-left: 2rem;
}

.experience-skills li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.3rem;
}

.experience-skills li i {
  color: var(--color-blue);
}

.grid i {
  color: var(--color-gold);
  font-size: 60px;
  margin-bottom: 8px;
}

.latest-projects {
  padding-top: var(--rem-section-gap);
  padding-bottom: var(--rem-section-gap);
  max-width: 100%;
}

.latest-projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--rem-text-gap);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.latest-projects-wrapper h2 {
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: var(--color-light-blue);
  box-shadow: 10px 10px 5px 0px rgba(66, 66, 66, 0.2);
}

.card .info {
  padding-left: var(--rem-text-gap);
  padding-right: var(--rem-text-gap);
  padding-bottom: var(--rem-section-gap);
  padding-top: var(--rem-section-gap);
  display: flex;
  flex-direction: column;
  gap: var(--rem-text-gap);
}

.card .info h3 {
  text-align: left;
  color: var(--color-black);
}

.card a:hover .info h3 {
  text-decoration: underline;
}

.technologies {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1rem;
  gap: 0.75rem;
}

.technologies li {
  color: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: 0.25rem;
  padding: 0.25rem;
  background-color: var(--color-warm-white);
}

.experiences ul li:not(:last-child),
.certificates ul li:not(:last-child) {
  border-bottom: 1px solid var(--color-blue);
  padding: 0 0 var(--rem-text-gap) 0;
}

@media (min-width: 768px) {
  body {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h1 {
    font-size: 2.375rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2.125rem;
    line-height: 2.625rem;
  }

  h3 {
    font-size: 1.875rem;
    line-height: 2.125rem;
  }

  header.absolute-header {
    position: absolute;
    border-bottom: none;
    margin-bottom: 0;
  }

  main {
    gap: var(--rem-section-gap-tablet);
  }

  section {
    gap: var(--rem-text-gap-tablet);
  }

  section ul {
    gap: var(--rem-text-gap-tablet);
  }

  section ul.grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--rem-grid-tablet);
  }

  section ul.grid.start-with-two {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  section ul.grid.start-with-two.jump-to-four {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  footer {
    margin-top: var(--rem-section-gap-tablet);
  }

  footer .contact ul {
    gap: var(--rem-section-gap-tablet);
  }

  footer .footer-skills .technologies {
    gap: 2rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    background: linear-gradient(80deg, rgba(253, 253, 255, 1) 0%, rgba(253, 253, 255, 1) 52%, rgba(188, 220, 219, 1) 52%, rgba(188, 220, 219, 1) 100%);
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    border-bottom: 1px solid var(--color-light-grey);
    flex-direction: row;
  }

  .hero-wrapper {
    max-width: 1400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-content-left {
    padding-top: 132px;
    max-width: 56%;
    padding-bottom: var(--rem-text-gap-tablet);
  }

  .hero-content-right {
    align-self: flex-end;
    margin-left: auto;
  }

  .btn {
    width: -moz-fit-content;
    width: fit-content;
  }

  .btn-for-more.mobile-only {
    display: none;
  }

  .btn-for-more.from-tablet {
    display: block;
    margin-bottom: 3px;
  }

  .experiences ul li:not(:last-child),
  .certificates ul li:not(:last-child) {
    padding: 0 0 var(--rem-text-gap-tablet) 0;
  }

  .latest-projects-wrapper {
    gap: var(--rem-text-gap-tablet);
  }

  .latest-projects-wrapper .title-link-wrapper {
    display: flex;
    align-items: center;
  }

  .latest-projects-wrapper .title-link-wrapper h2 {
    margin-left: 0;
  }

  .card .img-wrapper {
    overflow: hidden;
  }

  .card .img-wrapper img {
    transition: transform 0.3s ease-in-out;
    vertical-align: middle;
  }
  .card a:hover .img-wrapper img {
    transform: scale(1.1);
  }
}
.testiomonials {
  max-width: 1200px;
}
.quote-box {
  --b: 3px;
  --w: 200px;

  border: var(--b) solid #0000;
  --_g: #0000 90deg, var(--color-gold) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);

  padding-left: var(--rem-text-gap);
  padding-right: var(--rem-text-gap);
  padding-bottom: var(--rem-section-gap);
  padding-top: var(--rem-section-gap);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quote-box .author {
  text-align: right;
  font-size: 18px;
  align-self: flex-end;
  margin-top: var(--rem-text-gap);
}
.quote-box .author .author-name {
  color: var(--color-text-darker);
}

@media (min-width: 1024px) {
  body {
    font-size: 1.625rem;
    line-height: 2.125rem;
  }
  h1 {
    font-size: 2.625rem;
    line-height: 3.25rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  main {
    gap: var(--rem-section-gap-desktop);
  }

  section {
    gap: var(--rem-text-gap-desktop);
  }

  section ul {
    gap: var(--rem-text-gap-desktop);
  }

  footer {
    margin-top: var(--rem-section-gap-desktop);
  }

  footer ul {
    gap: var(--rem-text-gap-desktop);
  }

  .hero-content-left {
    padding-bottom: var(--rem-text-gap-desktop);
  }

  .experiences ul li:not(:last-child),
  .certificates ul li:not(:last-child) {
    padding: 0 0 var(--rem-text-gap-desktop) 0;
  }

  .latest-projects {
    padding: var(--rem-section-gap-tablet);
    padding-bottom: var(--rem-section-gap-tablet);
  }
  .latest-projects-wrapper {
    gap: var(--rem-text-gap-desktop);
  }
}

@media (min-width: 1200px) {
  .latest-projects-wrapper .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--rem-grid-desktop);
  }
}
